/* StackLayout {
    border-color: red;
    border-width: 5;
} */

.title {
    font-size: 26;
    text-align: center;
    color: #7c015d;
    font-weight: bold;
    margin-top: 10;
}


/*
    this css file will only effect current-challenge file
    while app.css file is globle style
*/
