<ns-action-bar title="Current Challenge" [showBackButton]="false">

    <ActionItem ios.position="right" android.position="actionBar" pageTransition="slideLeft" nsRouterLink="/challenges/replace">
        <Label text="Replace"></Label>
    </ActionItem>

    <ActionItem ios.position="right" pageTransition="slideLeft" android.position="actionBar" nsRouterLink="/challenges/edit">
        <Label text="Edit"></Label>
    </ActionItem>

</ns-action-bar>
<ScrollView>
    <FlexboxLayout class="page">
        <StackLayout>
            <Label class="h1 text-center" text="Take a walk every day"></Label>
            <Label class="body text-center" text="Walk for at least 20 minutes on everyday of the week"></Label>
        </StackLayout>
        <GridLayout rows="auto,*,*,*,*,*,*" columns="*,*,*,*,*,*,*">
            <Label class="text-center" width="100%" *ngFor="let weekDay of weekDays; let i = index" [text]="weekDay"
                row="0" [col]="i"></Label>
            <Label width="50" height="50" *ngFor="let day of days; let i = index" [text]="day.dayInMonth" [row]="getRow(i, day)"
                [col]="day.dayInWeek"></Label>
        </GridLayout>
    </FlexboxLayout>
</ScrollView>

<!-- https://docs.nativescript.org/angular/ui/styling -->
