/* @import '~nativescript-theme-core/css/core.light.css'; */
@import '~nativescript-theme-core/scss/light';

// here you can over write the primary color and change anything you want
// https://github.com/NativeScript/theme/blob/master/app/scss/_variables.scss

@import './theme/colors';

$btn-color: $primary;

@import '~nativescript-theme-core/scss/index';

ActionBar {
    background: $primary;
    color: white;
}

.form {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.form {
    .input-field {
        width: 80%;

        // for label specificity we have to nest the classes
        .label {
            color: $primary;
            font-weight: bold;
            font-family: 'Oswald', 'Oswald-Regular', 'Oswald-Bold';
        }

        .input {
            border-bottom-width: 2;
            border-color: $primary;
            width: 100%;
        }
    }
}

.h1 {
    font-weight: bold;
    color: $primary;
    font-family: 'Oswald', 'Oswald-Regular', 'Oswald-Bold';
}

.btn-flat {
    background: transparent;
    border-color: transparent;
    border-width: 1;
    color: $primary;
}

.drawer-container {
    background: linear-gradient(140deg, #2b0c72, #5c3fa0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20;

    .btn {
        width: 80%;
        font-size: 20;
        height: 45;
    }
}

/* .btn {
    border-width: 1;
    width: 100%;
    padding: 5 10;
    border-radius: 30%;
    margin: 5 0;
    border-color: #7c015d;
} */

.fa {
    // this font-family should name exactly the same as file in the src file
    // ios // android
    font-family: 'FontAwesome','Font-Awesome';
}

