/* @import '~nativescript-theme-core/css/core.light.css'; */
@import '~nativescript-theme-core/css/orange.css';

.drawer-container {
    background: linear-gradient(140deg, #2b0c72, #5c3fa0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20;
}

/* .btn {
    border-width: 1;
    width: 100%;
    padding: 5 10;
    border-radius: 30%;
    margin: 5 0;
    border-color: #7c015d;
} */
