<ActionBar [title]="title" (loaded)="onLoadedActionBar()">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" *ngIf="canGoBack" (tap)="onGoBack()"></NavigationButton>
    <NavigationButton *ngIf="android && hasMenu" icon="res://menu_black" (tap)="onToggleMenu()"></NavigationButton>
    <!-- <ActionItem ios.position="left"></ActionItem> for ios and android. in android we can postion icon on the right side using this -->
    <ActionItem *ngIf="!android && hasMenu" ios.position="left" (tap)="onToggleMenu()">
        <Label text="MENU"></Label>
    </ActionItem>
    <!-- <ActionItem>
        <Label text="Replace"></Label>
    </ActionItem> -->
    <!-- with ng-content we can pass XML from outside the actionbar -->
    <ng-content></ng-content>
</ActionBar>
