<ns-action-bar [title]="isCreating ? 'Replace Challenge' : 'Edit Challenge'" [hasMenu]="false"></ns-action-bar>
<FlexboxLayout class="form">
    <StackLayout class="input-field">
        <Label class="label" text="Title"></Label>
        <TextField class="input"></TextField>
    </StackLayout>
    <StackLayout class="input-field">
        <Label class="label" text="Description"></Label>
        <TextField class="input"></TextField>
    </StackLayout>
    <Button class="btn btn-primary" text=Save></Button>
</FlexboxLayout>
