/* Add mobile styles for the component here.  */
@import '../../../theme/_colors';

.form {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: 80%;

    // for label specificity we have to nest the classes
    .label {
        color: $primary;
        font-weight: bold;
    }

    .input {
        border-bottom-width: 2;
        border-color: $primary;
        width: 100%;
    }
}

// .label {
//     color: $primary;
//     font-weight: bold;
// }

// .input {
//     border-bottom-width: 2;
//     border-color: $primary;
//     width: 100%;
// }
