<!-- <FlexboxLayout>
    <Label id="i1" text="Item 1"></Label>
    <Label id="i2" text="Item 2"></Label>
    <Label id="i3" text="Item 3"></Label>
</FlexboxLayout> -->

<FlexboxLayout flexDirection="row" justifyContent="space-between" alignItems="flex-end" flexWrap="wrap">
    <!-- <Label id="i1" flexGrow="2" text="Item 1"></Label> -->
    <Label id="i1" text="Item 1"></Label>
    <Label id="i2" alignSelf="flex-start" text="Item 2"></Label>
    <Label id="i3" text="Item 3" alignSelf="flex-start"></Label>
</FlexboxLayout>

<!-- <FlexboxLayout flexDirection="column">
    <Label id="i1" text="Item 1"></Label>
    <Label id="i2" text="Item 2"></Label>
    <Label id="i3" text="Item 3"></Label>
</FlexboxLayout> -->

<!-- <FlexboxLayout flexDirection="column-reverse">
    <Label id="i1" text="Item 1"></Label>
    <Label id="i2" text="Item 2"></Label>
    <Label id="i3" text="Item 3"></Label>
</FlexboxLayout> -->
