<ns-action-bar title="Today's Challenge" [showBackButton]="false"></ns-action-bar>
<FlexboxLayout class="page" *ngIf="!currentDay">
    <Label text="No challenge found!"></Label>
    <Button class="btn btn-primary" text="Create one!" pageTransition="slideLeft" nsRouterLink="/challenges/replace"></Button>
</FlexboxLayout>
<FlexboxLayout class="page" *ngIf="currentDay">
    <Label class="h1" [text]="currentDay.date | date"></Label>
    <ns-challenge-actions (actionSelect)="onActionSelected($event)" cancelText="Reset"></ns-challenge-actions>
</FlexboxLayout>
