<ns-action-bar title="Login" [showBackButton]="false" [hasMenu]="false"></ns-action-bar>
<!-- <Button text="auth works!" class="btn btn-primary" (tap)="onSignin()"></Button> -->
<!-- <Button text="auth works!" class="btn btn-primary" nsRouterLink="/today"></Button> -->
<!-- Directive Approach -->
<StackLayout>
    <Button text="Login" class="btn btn-primary" nsRouterLink="/challenges" [clearHistory]="true"></Button>
</StackLayout>
<!-- <Button text="This nsRouterLink address syntex is incorrect dont use like this" class="btn btn-primary" nsRouterLink="/challenges/today" [clearHistory]="true"></Button> -->
